@import "material-components-web/material-components-web";
@import "@material/top-app-bar/mdc-top-app-bar";

.material-icons {
    text-decoration: none;
    cursor: pointer;
    padding-right: 8px;
    color: white;
}

body {
  padding-left: 0px;
  padding-top: 0px;
  color: blue;
}
